policy_module(mytestpolicy,1.0.0)

########################################
#
# Declarations
#
module_class myedittext
#common myedittextperms
#{
#	perm_one
#	perm_two
#}

module_perm myedittext
#inherits myeditextperms
{
	edit
}


type myapp_t;
type myapp_exec_t;
#domain_type(myapp_t)
#domain_entry_file(myapp_t, myapp_exec_t)

type myapp_log_t;
#logging_log_file(myapp_log_t)

type myapp_tmp_t;
type blabla_t;
#files_tmp_file(myapp_tmp_t)

########################################
#
# Myapp local policy
#

allow myapp_t myapp_log_t:mybutton click;
